
{% extends './base.html' %}

{% block content %}
    <div class="container" style="padding-left: 15px; padding-top: 5px">
        <h1>
            WeSellCars
        </h1>
        <p>
            <br>
            is a world class online car dealership that can help you find the car you want at the best price possible. <br>
            We were founded in 2023 by visionary car salesman Buster Dealman, best known from his extremely successful <br>
            refridgerator consignment online business and website, WeSellFridges. <br>
            <br>
            Our website is precision engineered to bring you the most authentically intimidating car buying experience <br>
            that technology can currently support! If you find that you aren't uncomfortable while browsing our listings,<br>
            please don't hesitate to send us an email with your feedback!
        </p>
        <h4>
            <br>
            -The WeSellCars Team
        </h4>
    </div>
{% endblock content %}
