{% extends './base.html' %}

{% block content %}
    <div class="container" style="padding-left: 15px; padding-top: 5px">
        <p>
            Our corporate headquarters is located at:
        </p>
        <h5>
            Suite 3B, Sales People Plaza <br>
            39 Athernagaby Rd, Chester <br>
            England, UK <br>
            C14 49D <br>
            <br>
            +44 8724 238910
        </h5>
        <br>
        <p>
            To get in touch with the WeSellCars team with questions or concerns, please use the form below and we will <br>
            get back to you as soon as possible.
        </p>
        <br>
        <div class="container" style="padding-left:20px">
            <form action="{% url 'djangoapp:contact' %}" method="post">
                {% csrf_token %}
                {% for field in form %}
                    <div class="fieldWrapper">
                        {{ field.errors }}
                        {{ field.label_tag }} {{ field }}
                    </div>
                {% endfor %}
                <input type="submit" value="Submit">
            </form>
        </div>
    </div>
{% endblock content %}
