<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
    <body>
        <div class="container" style="padding-left:20px">
            <h2>Register for WeSellCars</h2>
            <hr>
            <form action="{% url 'djangoapp:registration' %}" method="post">
                {% csrf_token %}
                {% for field in form %}
                    {{ field.label_tag }}
                    {{ field.errors }} 
                    {{ field }}
                {% endfor %}
                <br>
                <input class="btn btn-success" type="submit" value="Register" style="padding-top: 5px">
                <a class="btn btn-warning" href="{% url 'djangoapp:index' %}" style="padding-top: 5px">Cancel Registration</a>
            </form>
        </div>
    </body>
</html>